.l-footer {
    grid-area: footer;
    background-color: var(--color-text);
    color: var(--color-background);
    display: flex;
    height: 600px;
    align-items: flex-end;
    position: relative;
    padding: 5%;

    &::before {
        content: "";
        background-image: url("../../assets/desktop/bg-footer-top-desktop.svg");
        background-color: white;
        top: 0;
        background-size: cover;
        left: 0;
        width: 100%;
        background-repeat: no-repeat;
        height: 210px;
        z-index: 10;
        position: absolute;

        @include breakpoint(955) {
            background-image: url("../../assets/mobile/bg-footer-top-mobile.svg");

        }
    }

    @include breakpoint(955) {
        text-align: center;
        flex-direction: column;
        justify-content: center;
        height: 900px;
    }

    &__img-logo {
        width: 15%;
        max-width: 180px;
        min-width: 140px;
        margin-bottom: 20px;
    }

    &__contact {
        display: 1;
        margin: 0 auto;

        @include breakpoint(955) {
            width: 80%;
            margin: 0 auto;
        }
    }

    &__subscribe {
        display: 1;

        @include breakpoint(955) {
            order: -1;
            width: 80%;
            margin: 0 auto;
        }
    }

    label {
        position: relative;
        display: flex;
        margin-top: 18px;
        align-items: center;
        margin-bottom: 18px;
    }

    &__number-phone, &__number-email {
        display: flex;
        margin-left: 35px;
        width: 60%;
        align-self: center;
    }

    &__insert-email {
        margin-top: 15px;
        display: flex;

        @include breakpoint(955) {
            flex-direction: column;
        }
    }

    p {
        width: 80%;
        line-height: 2.7rem;

        @include breakpoint(955) {
            width: 100%;
        }
    }

    &__img-phone, &__img-email {
        bottom: 0;
        position: absolute;
        height: 24px;
        width: 24px;
    }

    h2 {
        text-transform: uppercase;
        font-family: Poppins;
        margin-bottom: 15px;

        @include breakpoint(670) {
            margin-top: 80px;
        }


        @include breakpoint(800) {
            margin-top: 150px;
        }
    }

    button {
        margin-left: 30px;
        background-color: var(--color-primary);
        font-weight: 700;
        border-style: none;
        color: var(--color-background);
        padding: 8px 40px;
        font-size: 1.6rem;
        border-radius: 8px;
        box-shadow: 0px 2px 3px rgb(204, 102, 204);
        cursor: pointer;

        &:hover {
            background-color: var(--color-secondary);
            transition: 0.3s;
        }

        @include breakpoint(955) {
            margin: 30px auto;
        }
    }

    input {
        margin-top: 15px;
    }
}
