.l-header {
    grid-area: header;
    width: 90%;
    position: relative;
    margin: 0 auto;

    &__img-logo {
        width: 15%;
        max-width: 180px;
        min-width: 140px;
        margin-top: 40px;
    }

    &__btn {
        position: absolute;
        right: 0;
        margin-top: 37px;
        background-color: var(--color-background);
        border: 1px solid var(--color-primary);
        border-radius: 28px;
        width: 7%;
        min-width: 100px;
        padding-top: 8px;
        padding-bottom: 8px;
        text-transform: capitalize;
        color: var(--color-primary);
        cursor: pointer;

        &:hover {
            color: var(--color-secondary);
            border-color: var(--color-secondary);
            transition: 0.3s;
        }
    }
}