.l-header {
  grid-area: header;
  width: 90%;
  position: relative;
  margin: 0 auto;
}

.l-header__img-logo {
  width: 15%;
  max-width: 180px;
  min-width: 140px;
  margin-top: 40px;
}

.l-header__btn {
  position: absolute;
  right: 0;
  margin-top: 37px;
  background-color: var(--color-background);
  border: 1px solid var(--color-primary);
  border-radius: 28px;
  width: 7%;
  min-width: 100px;
  padding-top: 8px;
  padding-bottom: 8px;
  text-transform: capitalize;
  color: var(--color-primary);
  cursor: pointer;
}

.l-header__btn:hover {
  color: var(--color-secondary);
  border-color: var(--color-secondary);
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

.l-main {
  grid-area: main;
  margin: 0 auto;
  margin-top: 200px;
}

.l-call {
  text-align: center;
  position: relative;
}

.l-call:not(.l-call::before) {
  width: 80%;
  margin: 0 auto;
}

.l-call__title {
  font: 700 4rem Poppins;
  width: 80%;
  margin: 0 auto;
  margin-bottom: 30px;
}

.l-call__description {
  line-height: 2.7rem;
  min-width: 200px;
  width: 40%;
  margin: 0 auto;
}

.l-call__btn {
  margin-top: 60px;
  background-color: var(--color-primary);
  font-weight: 700;
  border-style: none;
  color: var(--color-background);
  padding: 20px 70px;
  font-size: 1.6rem;
  border-radius: 25px;
  -webkit-box-shadow: 0px 5px 10px #cc66cc;
          box-shadow: 0px 5px 10px #cc66cc;
  cursor: pointer;
}

@media (max-width: 28.75em) {
  .l-call__btn {
    padding: 15px 40px;
  }
}

.l-call__btn:hover {
  background-color: var(--color-secondary);
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

.l-call__img-mockups {
  width: 90%;
  margin: 0 auto;
  margin-top: 90px;
}

.l-call__info {
  margin-top: 80px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 90%;
  margin: 0 auto;
}

@media (max-width: 48.75em) {
  .l-call__info {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

.l-call__info-data {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-top: 200px;
  margin-bottom: 200px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  position: relative;
}

.l-call__info-data img {
  width: 40px;
  -webkit-box-ordinal-group: 0;
      -ms-flex-order: -1;
          order: -1;
}

.l-call__info-data h2 {
  text-align: start;
  font-weight: 700;
  font-size: 7.7rem;
}

.l-call__info-data p {
  color: gray;
  text-align: center;
  font-size: 1.8rem;
}

.l-call__info-data.communities {
  display: -ms-grid;
  display: grid;
      grid-template-areas: ". img ." ". h2 ." ". p .";
  -ms-grid-columns: 1fr auto 1fr;
      grid-template-columns: 1fr auto 1fr;
}

.l-call__info-data.communities img {
  -ms-grid-row: 1;
  -ms-grid-column: 2;
  grid-area: img;
}

.l-call__info-data.communities h2 {
  -ms-grid-row: 2;
  -ms-grid-column: 2;
  grid-area: h2;
}

.l-call__info-data.communities p {
  -ms-grid-row: 3;
  -ms-grid-column: 2;
  grid-area: p;
}

@media (max-width: 48.75em) {
  .l-call__info-data.communities {
    margin-top: 100px;
    margin-bottom: 180px;
  }
}

.l-call__info-data.messages {
  display: -ms-grid;
  display: grid;
      grid-template-areas: ". img ." ". h2 ." ". p .";
  -ms-grid-columns: 1fr auto 1fr;
      grid-template-columns: 1fr auto 1fr;
}

.l-call__info-data.messages img {
  -ms-grid-row: 1;
  -ms-grid-column: 2;
  grid-area: img;
}

.l-call__info-data.messages h2 {
  -ms-grid-row: 2;
  -ms-grid-column: 2;
  grid-area: h2;
}

.l-call__info-data.messages p {
  -ms-grid-row: 3;
  -ms-grid-column: 2;
  grid-area: p;
}

.l-call::before {
  content: '';
  position: absolute;
  width: 100%;
  height: 172px;
  left: 0;
  bottom: 0;
  background-image: url("../../assets/desktop/bg-section-top-desktop-1.svg");
  background-repeat: no-repeat;
  background-size: cover;
}

.l-footer {
  grid-area: footer;
  background-color: var(--color-text);
  color: var(--color-background);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 600px;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  position: relative;
  padding: 5%;
}

.l-footer::before {
  content: "";
  background-image: url("../../assets/desktop/bg-footer-top-desktop.svg");
  background-color: white;
  top: 0;
  background-size: cover;
  left: 0;
  width: 100%;
  background-repeat: no-repeat;
  height: 210px;
  z-index: 10;
  position: absolute;
}

@media (max-width: 59.6875em) {
  .l-footer::before {
    background-image: url("../../assets/mobile/bg-footer-top-mobile.svg");
  }
}

@media (max-width: 59.6875em) {
  .l-footer {
    text-align: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    height: 900px;
  }
}

.l-footer__img-logo {
  width: 15%;
  max-width: 180px;
  min-width: 140px;
  margin-bottom: 20px;
}

.l-footer__contact {
  display: 1;
  margin: 0 auto;
}

@media (max-width: 59.6875em) {
  .l-footer__contact {
    width: 80%;
    margin: 0 auto;
  }
}

.l-footer__subscribe {
  display: 1;
}

@media (max-width: 59.6875em) {
  .l-footer__subscribe {
    -webkit-box-ordinal-group: 0;
        -ms-flex-order: -1;
            order: -1;
    width: 80%;
    margin: 0 auto;
  }
}

.l-footer label {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-top: 18px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 18px;
}

.l-footer__number-phone, .l-footer__number-email {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-left: 35px;
  width: 60%;
  -ms-flex-item-align: center;
      align-self: center;
}

.l-footer__insert-email {
  margin-top: 15px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

@media (max-width: 59.6875em) {
  .l-footer__insert-email {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

.l-footer p {
  width: 80%;
  line-height: 2.7rem;
}

@media (max-width: 59.6875em) {
  .l-footer p {
    width: 100%;
  }
}

.l-footer__img-phone, .l-footer__img-email {
  bottom: 0;
  position: absolute;
  height: 24px;
  width: 24px;
}

.l-footer h2 {
  text-transform: uppercase;
  font-family: Poppins;
  margin-bottom: 15px;
}

@media (max-width: 41.875em) {
  .l-footer h2 {
    margin-top: 80px;
  }
}

@media (max-width: 50em) {
  .l-footer h2 {
    margin-top: 150px;
  }
}

.l-footer button {
  margin-left: 30px;
  background-color: var(--color-primary);
  font-weight: 700;
  border-style: none;
  color: var(--color-background);
  padding: 8px 40px;
  font-size: 1.6rem;
  border-radius: 8px;
  -webkit-box-shadow: 0px 2px 3px #cc66cc;
          box-shadow: 0px 2px 3px #cc66cc;
  cursor: pointer;
}

.l-footer button:hover {
  background-color: var(--color-secondary);
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

@media (max-width: 59.6875em) {
  .l-footer button {
    margin: 30px auto;
  }
}

.l-footer input {
  margin-top: 15px;
}

.l-utilities {
  position: relative;
}

.l-utilities h2 {
  font-family: Poppins;
  font-size: 3.8rem;
}

.l-utilities__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  padding: 13% 15% 0 15%;
}

@media (max-width: 65.625em) {
  .l-utilities__item {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    text-align: center;
  }
}

.l-utilities__item.c-first {
  background-color: var(--color-background);
  position: relative;
}

.l-utilities__item.c-second {
  background-image: url("../../assets/desktop/bg-section-bottom-desktop-1.svg");
  background-repeat: no-repeat;
  background-size: contain;
}

.l-utilities__item.c-second img {
  -webkit-box-ordinal-group: 0;
      -ms-flex-order: -1;
          order: -1;
  margin-right: 10%;
}

.l-utilities__item.c-third {
  position: relative;
  background-color: var(--color-background);
}

.l-utilities__item.c-third::before {
  content: "";
  width: 100%;
  height: 160px;
  position: absolute;
  top: 0;
  background-image: url("../../assets/desktop/bg-section-top-desktop-2.svg");
  background-color: white;
  background-repeat: no-repeat;
  background-size: cover;
}

@media (max-width: 77.25em) {
  .l-utilities__item.c-third::before {
    height: 20%;
  }
}

@media (max-width: 50.625em) {
  .l-utilities__item.c-third::before {
    height: 10%;
  }
}

@media (max-width: 24.375em) {
  .l-utilities__item.c-third::before {
    height: 5%;
  }
}

.l-utilities__item img {
  width: 45%;
  min-width: 280px;
}

@media (max-width: 65.625em) {
  .l-utilities__item img {
    margin-bottom: 50px;
    -webkit-box-ordinal-group: 0;
        -ms-flex-order: -1;
            order: -1;
  }
}

.l-utilities__text {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
}

.l-utilities__text:not(.l-utilities__item.c-first) {
  margin-right: 10%;
}

@media (max-width: 65.625em) {
  .l-utilities__text:not(.l-utilities__item.c-first) {
    margin: 0;
  }
}

.l-utilities__text p {
  margin-top: 20px;
  line-height: 2.7rem;
}

.l-utilities__start {
  position: relative;
  height: 800px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  text-align: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.l-utilities__start::before {
  content: '';
  height: 300px;
  background-image: url("../../assets/desktop/bg-section-bottom-desktop-2.svg");
  background-repeat: no-repeat;
  background-color: white;
  height: 20%;
  background-size: cover;
  top: 0;
  width: 100%;
  position: absolute;
}

.l-utilities__title {
  margin-bottom: 40px;
}

.l-utilities__btn {
  background-color: var(--color-primary);
  font-weight: 700;
  border-style: none;
  min-width: 200px;
  margin-top: 30px;
  margin: 0 auto;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  color: var(--color-background);
  padding: 20px 70px;
  font-size: 1.6rem;
  border-radius: 25px;
  -webkit-box-shadow: 0px 5px 10px #cc66cc;
          box-shadow: 0px 5px 10px #cc66cc;
  cursor: pointer;
}

.l-utilities__btn:hover {
  background-color: var(--color-secondary);
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

@media (max-width: 28.75em) {
  .l-utilities__btn {
    padding: 15px 40px;
  }
}

:root {
  --color-primary: #ff52bf;
  --color-secondary: #ff8fd8;
  --color-warning: #ff4242;
  --color-text: #00252e;
  --color-background: #f5faff;
}

* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html {
  /* 1rem equivale a 10px*/
  font-size: 62.5%;
}

@media (max-width: 28.75em) {
  html {
    font-size: 55%;
  }
}

.container {
  font-size: 1.6rem;
  font-family: Open Sans;
  color: var(--color-text);
  background-color: white;
}
/*# sourceMappingURL=style.css.map */