.l-header {
  background-image: url("/assets/desktop/image-hero.jpg");
  background-repeat: no-repeat;
  -ms-grid-row: 1;
  -ms-grid-column: 1;
  -ms-grid-column-span: 3;
  grid-area: header;
  background-size: cover;
  height: 40.625rem;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  background-position: top center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
      grid-template-columns: 1fr 10fr 1fr;
}

@media (max-width: 37.4375em) {
  .l-header {
    background-image: url("/assets/mobile/image-hero.jpg");
    background-size: cover;
    background-position: top bottom;
    height: 100vh;
  }
}

.l-header__top {
  padding: 80px 8% 0 8%;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

@media (max-width: 47.1875em) {
  .l-header__top {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
}

.l-header #img-logo {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  width: 180px;
  height: 35px;
}

@media (max-width: 47.1875em) {
  .l-header #img-logo {
    -webkit-box-flex: 0;
        -ms-flex: none;
            flex: none;
  }
}

.l-header__c-list {
  color: white;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: end;
  list-style: none;
  right: 0;
  -webkit-box-flex: 10;
      -ms-flex: 10;
          flex: 10;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

@media (max-width: 47.1875em) {
  .l-header__c-list {
    position: absolute;
    display: none;
  }
}

.l-header__item:not(:first-child) {
  margin-left: 25px;
}

.l-header__title {
  -ms-flex-item-align: center;
      align-self: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

@media (max-width: 47.1875em) {
  .l-header__title {
    height: 100%;
    text-align: center;
  }
}

.l-header__title h2 {
  position: relative;
  padding: 40px 160px 40px 40px;
  border: 2px solid white;
  width: -webkit-max-content;
  width: -moz-max-content;
  width: max-content;
  font-family: Josefin Sans;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  letter-spacing: 5px;
  font-weight: lighter;
  font-size: 50px;
  color: white;
  text-transform: uppercase;
  -webkit-transform: translate(-50%, 50%);
          transform: translate(-50%, 50%);
}

@media (max-width: 84.375em) {
  .l-header__title h2 {
    -webkit-transform: translate(-20%, 50%);
            transform: translate(-20%, 50%);
  }
}

@media (max-width: 71.875em) {
  .l-header__title h2 {
    -webkit-transform: translate(0%, 50%);
            transform: translate(0%, 50%);
  }
}

@media (max-width: 47.1875em) {
  .l-header__title h2 {
    font-size: 38px;
    padding: 40px;
    margin: 0 auto;
    -webkit-transform: translate(0%, 0%);
            transform: translate(0%, 0%);
  }
}

.l-header__menu {
  display: none;
}

@media (max-width: 47.1875em) {
  .l-header__menu {
    position: relative;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    width: 100%;
  }
}

.l-header__menu img {
  position: absolute;
  right: 0;
  width: 40px;
  height: 70%;
}

.l-main {
  margin-top: 100px;
  -ms-grid-row: 2;
  -ms-grid-column: 2;
  grid-area: main;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.l-footer {
  background-color: black;
  -ms-grid-row: 3;
  -ms-grid-column: 1;
  -ms-grid-column-span: 3;
  grid-area: footer;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin-top: 160px;
  height: 7.5rem;
}

@media (max-width: 74.9375em) {
  .l-footer {
    height: auto;
  }
}

.l-footer__social-media {
  margin-top: 30px;
  display: -ms-grid;
  display: grid;
  width: 100%;
  height: -webkit-max-content;
  height: -moz-max-content;
  height: max-content;
      grid-template-areas: ". logo listsocial .";
  -ms-grid-columns: 1fr 5fr 5fr 1fr;
      grid-template-columns: 1fr 5fr 5fr 1fr;
}

@media (max-width: 74.9375em) {
  .l-footer__social-media {
    margin-top: 50px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

.l-footer__logo {
  -ms-grid-row: 1;
  -ms-grid-column: 2;
  grid-area: logo;
  width: 130px;
  height: 25px;
}

@media (max-width: 74.9375em) {
  .l-footer__logo {
    width: 180px;
    height: 35px;
    margin: 0 auto;
  }
}

.l-footer__list-social {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-grid-row: 1;
  -ms-grid-column: 3;
  grid-area: listsocial;
  justify-self: end;
  list-style-type: none;
}

@media (max-width: 74.9375em) {
  .l-footer__list-social {
    margin: 0 auto;
    margin-top: 25px;
  }
}

.l-footer__list-item:not(:first-child) {
  margin-left: 15px;
}

.l-footer__info {
  display: -ms-grid;
  display: grid;
      grid-template-areas: ". menu copy .";
  -ms-grid-columns: 1fr 5fr 5fr 1fr;
      grid-template-columns: 1fr 5fr 5fr 1fr;
  width: 100%;
  margin-top: 15px;
  color: white;
}

@media (max-width: 74.9375em) {
  .l-footer__info {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    margin: 0 auto;
  }
}

.l-footer__menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-grid-row: 1;
  -ms-grid-column: 2;
  grid-area: menu;
  list-style: none;
}

@media (max-width: 74.9375em) {
  .l-footer__menu {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    margin: 0 auto;
  }
}

.l-footer__menu-item {
  position: relative;
  cursor: pointer;
}

@media (max-width: 74.9375em) {
  .l-footer__menu-item {
    justify-items: center;
    text-align: center;
    width: 100%;
    margin-top: 25px;
  }
}

.l-footer__menu-item:not(:last-child) {
  margin-right: 25px;
}

.l-footer__menu-item::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 2px;
  bottom: 0;
  left: 0;
  background-color: #fff;
  visibility: hidden;
  -webkit-transform: scaleX(0);
          transform: scaleX(0);
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}

.l-footer__menu-item:hover::before {
  visibility: visible;
  -webkit-transform: scaleX(1);
          transform: scaleX(1);
}

.l-footer__copyright {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-grid-row: 1;
  -ms-grid-column: 3;
  grid-area: copy;
  justify-self: end;
}

@media (max-width: 74.9375em) {
  .l-footer__copyright {
    margin: 0 auto;
    -webkit-box-ordinal-group: 5;
        -ms-flex-order: 4;
            order: 4;
    margin-top: 25px;
    margin-bottom: 50px;
  }
}

.l-first-content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

@media (min-width: 75em) {
  .l-first-content {
    background-image: url("../../assets/desktop/image-interactive.jpg");
    background-repeat: no-repeat;
    height: 31.25rem;
  }
}

@media (max-width: 74.9375em) {
  .l-first-content {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    padding: 0;
  }
}

@media (min-width: 56.25em) {
  .l-first-content__auxiliar-before {
    width: 500px;
  }
}

@media (max-width: 74.9375em) {
  .l-first-content__auxiliar-before {
    background-image: url("/assets/mobile/image-interactive.jpg");
    background-repeat: no-repeat;
    -ms-flex-item-align: center;
        -ms-grid-row-align: center;
        align-self: center;
    height: 31.25rem;
    width: 31.25rem;
  }
}

.l-first-content__marketing {
  font-family: Josefin Sans;
  background-color: #e0e0e0;
}

@media (min-width: 56.25em) {
  .l-first-content__marketing {
    padding-top: 100px;
    padding-left: 100px;
    width: 30%;
    z-index: 10;
    -ms-flex-item-align: end;
        align-self: flex-end;
  }
}

@media (max-width: 74.9375em) {
  .l-first-content__marketing {
    padding: 0px;
    width: 50%;
    -ms-flex-item-align: center;
        -ms-grid-row-align: center;
        align-self: center;
  }
}

.l-first-content__title {
  text-transform: uppercase;
  font-weight: lighter;
  font-size: 38px;
}

@media (max-width: 74.9375em) {
  .l-first-content__title {
    text-align: center;
  }
}

.l-first-content__description {
  font-size: 14px;
  color: #8c8c8c;
  margin-top: 25px;
  font-weight: bold;
  line-height: 1.5;
}

@media (max-width: 74.9375em) {
  .l-first-content__description {
    text-align: center;
  }
}

.l-second-content {
  font-family: Josefin Sans;
}

.l-second-content__header {
  margin-top: 140px;
  margin-bottom: 80px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: auto;
  width: 100%;
}

@media (max-width: 37.4375em) {
  .l-second-content__header {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

.l-second-content__title {
  width: 100%;
  text-transform: uppercase;
  font-size: 36px;
}

@media (max-width: 37.4375em) {
  .l-second-content__title {
    text-align: center;
    margin-bottom: 20px;
  }
}

.l-second-content .btn {
  text-transform: uppercase;
  background-color: #e0e0e0;
  width: 180px;
  letter-spacing: 3px;
  border-style: none;
  border: 1px solid black;
  cursor: pointer;
}

@media (max-width: 37.4375em) {
  .l-second-content .btn {
    padding: 15px;
    margin: 0 auto;
  }
}

.l-second-content .btn:hover {
  background-color: #292929;
  color: #e0e0e0;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

.l-games {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (minmax(200px, auto))[auto-fill];
      grid-template-columns: repeat(auto-fill, minmax(200px, auto));
  row-gap: 10px;
  -webkit-column-gap: 10px;
          column-gap: 10px;
}

@media (min-width: 56.25em) {
  .l-games {
    -ms-grid-columns: (1fr)[4];
        grid-template-columns: repeat(4, 1fr);
    -ms-grid-rows: (1fr)[2];
        grid-template-rows: repeat(2, 1fr);
    row-gap: 30px;
    -webkit-column-gap: 30px;
            column-gap: 30px;
  }
}

@media (max-width: 56.1875em) {
  .l-games {
    -ms-grid-columns: (1fr)[2];
        grid-template-columns: repeat(2, 1fr);
  }
}

@media (max-width: 37.4375em) {
  .l-games {
    -ms-grid-columns: 1fr;
        grid-template-columns: 1fr;
    -ms-grid-rows: (1fr)[8];
        grid-template-rows: repeat(8, 1fr);
  }
}

.l-games__block {
  position: relative;
  display: inline-block;
  height: -webkit-max-content;
  height: -moz-max-content;
  height: max-content;
}

.l-games__item {
  width: 100%;
  -webkit-filter: brightness(80%);
          filter: brightness(80%);
  cursor: pointer;
}

.l-games__item:hover {
  -webkit-filter: brightness(10%);
          filter: brightness(10%);
  color: white;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

@media (max-width: 56.1875em) {
  .l-games__item {
    -o-object-fit: cover;
       object-fit: cover;
    -o-object-position: top;
       object-position: top;
    height: 12.5rem;
  }
}

.l-games__name {
  max-width: -webkit-max-content;
  max-width: -moz-max-content;
  max-width: max-content;
  position: absolute;
  font-family: Josefin Sans;
  font-weight: lighter;
  font-size: 28px;
  color: white;
  text-transform: uppercase;
  bottom: 5%;
  left: 5%;
}

* {
  padding: 0;
  margin: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.wrapper {
  font-family: Alata;
  background-color: #e0e0e0;
  display: -ms-grid;
  display: grid;
      grid-template-areas: "header header header" ".      main   .     " "footer footer footer";
  -ms-grid-columns: 1fr 10fr 1fr;
      grid-template-columns: 1fr 10fr 1fr;
}
/*# sourceMappingURL=style.css.map */