@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

body {
    background: rgb(49, 49, 49);
    font: normal 12pt Roboto;
    color: azure;
    text-align: center;
}

a {
    color: azure;
    text-decoration: underline;
}

#videos {
    background: rgb(221, 221, 221);
    border-radius: 20px;
    padding: 20px;
    margin: auto;
    width: 420px;
    box-shadow: 2px 2px 8px rgb(78, 78, 78);
}