$layout-name: "l-footer";

.#{$layout-name} {
    background-color: rgb(0, 0, 0);
    grid-area: footer;
    display: flex;
    flex-direction: column;
    margin-top: 160px;
    height: rem(120);

    @include breakpoint(large-only) {
        height: auto;
    }

    &__social-media {
        margin-top: 30px;
        display: grid;
        width: 100%;
        height: max-content;
        grid-template-areas: ". logo listsocial .";
        grid-template-columns: 1fr 5fr 5fr 1fr;

        @include breakpoint(large-only) {
            margin-top: 50px;
            display: flex;
            flex-direction: column;
        }
    }

    &__logo {
        grid-area: logo;
        width: 130px;
        height: 25px;

        @include breakpoint(large-only) {
            width: 180px;
            height: 35px;
            margin: 0 auto;
        }
    }

    &__list-social {
        display: flex;
        grid-area: listsocial;
        justify-self: end;
        list-style-type: none;

        @include breakpoint(large-only) {
            margin: 0 auto;
            margin-top: 25px;
        }
    }

    &__list-item:not(:first-child) {
        margin-left: 15px;
    }

    &__info {
        display: grid;
        grid-template-areas: ". menu copy .";
        grid-template-columns: 1fr 5fr 5fr 1fr;
        width: 100%;
        margin-top: 15px;
        color: white;

        @include breakpoint(large-only) {
            display: flex;
            flex-direction: column;
            margin: 0 auto;
        }
    }

    &__menu {
        display: flex;
        grid-area: menu;
        list-style: none;

        @include breakpoint(large-only) {
            display: flex;
            flex-direction: column;
            margin: 0 auto;
        }
    }

    &__menu-item {
        position: relative;
        cursor: pointer;
        @include breakpoint(large-only) {
            justify-items: center;
            text-align: center;
            width: 100%;
            margin-top: 25px;
        }

        &:not(:last-child) {
            margin-right: 25px;
        }

        &::before {
            content: "";
            position: absolute;
            width: 100%;
            height: 2px;
            bottom: 0;
            left: 0;
            background-color: #fff;
            visibility: hidden;
            transform: scaleX(0);
            transition: all 0.3s ease-in-out;
        }

        &:hover::before {
            visibility: visible;
            transform: scaleX(1);
        }
    }

    &__copyright {
        display: flex;
        grid-area: copy;
        justify-self: end;

        @include breakpoint(large-only) {
            margin: 0 auto;
            order: 4;
            margin-top: 25px;
            margin-bottom: 50px;
        }
    }
}
