$layout-name: "l-header";

.#{$layout-name} {
    background-image: url("/assets/desktop/image-hero.jpg");
    background-repeat: no-repeat;
    grid-area: header;
    background-size: cover;
    height: rem(650);
    flex-direction: column;
    background-position: top center;
    display: flex;
    grid-template-columns: 1fr 10fr 1fr;

    @include breakpoint(small-only) {
        background-image: url("/assets/mobile/image-hero.jpg");
        background-size: cover;
        background-position: top bottom;
        height: 100vh;
    }

    &__top {
        padding: 80px 8% 0 8%;
        justify-content: flex-start;
        width: 100%;
        display: flex;

        @include breakpoint(755) {
            display: flex;
        }
    }

    #img-logo {
        flex: 1;
        width: 180px;
        height: 35px;

        @include breakpoint(755) {
            flex: none;
        }
    }

    &__c-list {
        color: white;
        justify-content: end;
        list-style: none;
        right: 0;
        flex: 10;
        display: flex;

        @include breakpoint(755) {
            position: absolute;
            display: none;
        }
    }

    &__item:not(:first-child) {
        margin-left: 25px;
    }

    &__title {
        align-self: center;
        display: flex;

        @include breakpoint(755) {
            height: 100%;
            text-align: center;
        }

        h2 {
            position: relative;

            padding: 40px 160px 40px 40px;
            border: 2px solid white;
            width: max-content;
            font-family: Josefin Sans;
            align-self: center;
            letter-spacing: 5px;
            font-weight: lighter;
            font-size: 50px;
            color: white;
            text-transform: uppercase;
            transform: translate(-50%, 50%);

            @include breakpoint(1350) {
                transform: translate(-20%, 50%);
            }

            @include breakpoint(1150) {
                transform: translate(0%, 50%);
            }

            @include breakpoint(755) {
                font-size: 38px;
                padding: 40px;
                margin: 0 auto;
                transform: translate(0%, 0%);
            }
        }
    }

    &__menu {
        display: none;
        @include breakpoint(755) {
            position: relative;
            display: flex;
            width: 100%;
        }

        img {
            position: absolute;
            right: 0;
            width: 40px;
            height: 70%;
        }
    }
}
